<section class="header-section">
  <div class="header-title">
    <h6>
      Login
    <h6>
  </div>
</section>

<div class="visitor-tip">
  <p>New to Bike Share? <%= link_to 'Create Account', register_path %><p>
</div>
