<table class="table table-striped table-hover">
    <tr>
      <th>Name</th>
      <th>Bikes</th>
      <th>City</th>
      <th>Built</th>
  </tr>
  <% @stations.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.dock_count %></td>
      <td><%= s.city %></td>
      <td><%= s.built %></td>
    </tr>
  <% end %>
</table>
