
<div id="background">
  <div id="logo-links">
    <div id="logo">
      <%= image_tag "logo.png" %>
      <h3>Bike Share</h3>
    </div>
    <div id="links">
      <% if current_user.nil? %>
        <div id="link1"><%= link_to "Login", login_path, {class: "homepage-link"} %></div>
      <% else %>
        <div id="link1"><%= link_to "Logout", logout_path, {class: "homepage-link"} %></div>
      <% end %>
    </div>
  </div>
</div>
