body
  font-family: default

main
  display: flex
  justify-content: center

nav.navbar
  background-color: #AAAAAA
  font-family: default
  height: 40px

  .nav-item
    width: fit-content

  .dropdown-menu
    right: 0
    left: auto

#notice
  color: black
  font-weight: bold
  text-align: center
  font-size: 20px

header
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background-color: #DDDDDD
  background-position: center center
  background-size: cover
  height:  150px
  box-shadow: 1px 1.5px 1px 1px #5c5d67

  .header-title
    width: 100%
    margin-top: 10px

    h6
      font-size: 60px
      font-weight: bold
      color: black
      text-align: center

form
  .form-group
  margin-top: 50px
  background-color: transparentize(#AAAAAA, .0)
  padding: 15px
  width: 40%
  display: flex
  flex-direction: column
  justify-content: space-around
  border-radius: 10px

  input, select
    .form-control
    margin-bottom: 10px

  label
    font-weight: bold

  .cancel-submit
    margin-top: 40px
    display: flex
    justify-content: space-around

    a
      height: 40px
      background-color: transparentize(#798086, .2)

    .btn-outline-light
      background-color: transparentize(#798086, .2)

.visitor-tip
  display: flex
  justify-content: center


#background
  background:
    image: asset-url("welcome.jpg")
    size: cover
    repeat: no-repeat
    position: 50% 50%
  display: flex
  justify-content: space-around
  font-family: 'Tajawal', cursive
  height: 100vh

  #logo-links
    display: flex
    justify-content: center
    align-self: center
    flex-flow: column nowrap
    background-color: transparentize(#AAAAAA, .1)
    position: relative
    width: auto
    height: auto
    border-radius: 10px

  #logo
    flex: 2
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 20px 20px 0px 20px
    height: 400px

  img
    height: 150px
    width: 150px

  h3
    margin-top: 20px
    font-size: 70px
    color: white

#links
  flex: 2
  display: flex
  justify-content: space-around
  align-items: center
  text-align: center
  flex-flow: row nowrap

  a
    color: white
    font-size: 35px

#link1
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  background-color: transparentize(#DE6E4B, .4)
  height: 100%
  border-radius: 0px 0px 10px 10px
  padding-top: 10px

#link2
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  background-color: transparentize(#6D6A75, .6)
  height: 100%

#link3
  flex: 1
  flex: 1
  display: flex
  justify-content: center
  align-items: center
  background-color: transparentize(#114B5F, .4)
  height: 100%
  border-radius: 0px 0px 10px 0px
div.station_show
  background-color: #858e9b
  border-radius: 3%
  width: 475px
  padding: 20px 30px
  margin: 30px 0px

.table
  margin: 20px 0px
  display: flex
  justify-content: center

table
  margin: 5px 10px
  tr
    th
      margin: 5px 10px
    td
      margin: 0px 10px


.card-container
  display: flex
  justify-content: center
  align-content: center
  flex-flow: column nowrap

  .card-info
    display: flex
    align-self: center
    flex-flow: column nowrap
    background-color: lightgrey
    max-width: 600px
    min-width: 500px
    margin: 35px 20px 20px 20px
    padding: 20px
    border-radius: 10px
    border: .5px solid black

    h5
      font-size: 18px
      margin-bottom: 0px
      font-weight: bold

    h6
      font-size: 18px
      margin-bottom: 20px
      font-weight: normal

    .card-buttons
      display: flex
      justify-content: space-between
      align-content: flex-end
      padding: 20px 10px 10px 10px

      a
        font-size: 15px

.accessories
  display: flex
  flex-flow: row wrap
  justify-content: center

  .card-info
    display: flex
    flex-flow: row nowrap

    h6
      font-size: 18px
      margin-bottom: 20px
      font-weight: normal

    h3
      padding-bottom: 10px
